body{
    text-align: center;
    background: white ;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

h1{
    color: teal;
    font-weight: bold;
    font-size: 50px;
    margin: 135px 0px 20px;

}

#clockdiv{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(58, 1, 58);
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 55px;
}

#clockdiv > div{
    padding: 50px;
    border-radius: 10px;
    background: rgb(52, 140, 167);
    display: inline-block;
}

#clockdiv div > span{
    padding: 65px;
    border-radius: 3px;
    background: rgb(196, 182, 191);
    display: inline-block;
}